<h2>Add Student</h2>
<p id="msg"></p>
<div class="row">
  <div class="col s6">
    <div class="input-field">
      <label for="name">First Name</label>
      <input type="text" id="name" name="name" class="validate">
    </div>
    <div class="input-field">
      <label for="idnum">ID Number</label>
      <input type="number" class="form-control" id="idnum" name="idnum">
    </div>
    <div>
      <p>Gender</p>
      <p>
        <label>
          <input class="with-gap" name="gender" type="radio" id="genderMale" value="boy" />
          <span>Male</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="gender" type="radio" id="generFemale" value="girl" />
          <span>Female</span>
        </label>
      </p>
      <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="genderMale" value="boy">
        <label class="form-check-label" for="genderMale">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="girl">
        <label class="form-check-label" for="genderFemale">Female</label>
      </div> -->
    </div>
    <button type="button" id="addStudent" class="btn waves-effect waves-light red darken-1"><i class="left material-icons">add</i>Add Student</button>
  </div>
</div>

<hr />

<h2>Find Student</h2>
<div class="row">
  <div class="col s6">
    <form>
      <div class="input-field">
        <label for="searchName">Name</label>
        <input type="text" class="validate" id="searchName" name="searchName">
      </div>
      <button type="button" id="findStudent" class="btn btn-primary red darken-1"><i class="left material-icons">search</i>Find Student</button>
    </form>
  </div>
</div>
<div id="studentList">
</div>
