<h2>Students List</h2>
{{#if students}}
  <!-- Looping through lists -->
  {{#each students}}
    <div class="row student">
      <div class="col s2">
        <p>
          <img src="{{ this.img }}" />
        </p>
      </div>
      <div class="col s10">
        <p class="studentname">{{this.name}}</p>
        <p>{{this.id}}</p>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>No students yet</p>
{{/if}}
