.footer {
  background-color: #f5f5f5;
  margin-top: auto;
  padding: 0.5em;
  position: fixed;
  bottom: 0px;
}

span.glyphicon {
  display: inline-block;
  font-size: 4em;
  padding-left: 0.75em;
}

img {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.student {
  margin-bottom: 0.5em;
}

.studentname {
  font-weight: 700;
  color: #00796b;
  font-size: 1.5em;
  margin-bottom: 0;
}

hr {
  border: 2px solid #999;
}

#studentList {
  margin-top: 1em;
}

#msg {
  font-weight: 700;
}

.success {
  color: #0B6623;
}

.fail {
  color: #5E1914;
}
